{% extends "layout.html" %}

{% block title %}Login {% endblock %}


{% block content %}
<h1 class="display-5 fw-bolder mb-5 text-center"><span class="text-gradient d-inline">Connexion</span></h1>
<form action="/login" method="post" class="col-lg-4 margin-auto">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" placeholder="Email" name='email'>
        <label for="email">Email</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="title" placeholder="Mot de passe" name="password">
        <label for="password">Mot de passe</label>
    </div>

    <div class="col-2 margin-auto">
        <button class="btn btn-primary" type="submit">Valider</button>
    </div>
</form>
{% endblock %}