{% extends "layout.html" %}

{% block title %}Modification d'un post {% endblock %}


{% block content %}

<form action="/updatepost/{{post.getId}}" method="post" class="col-lg-6 margin-auto">
    <select class="form-select  mb-3" aria-label="Default select example" id="author" name="author">
        {% for admin in admins %}
        <option value={{admin.getId}}>{{admin.getFirstname}} {{admin.getLastname}}</option>
        {% endfor %}
      </select>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="title" placeholder="Titre" name="title" value="{{post.getTitle}}">
        <label for="title">Titre</label>
    </div>
    <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Chapô" id="excerpt" name='excerpt'>{{post.getExcerpt}}</textarea>
        <label for="excerpt">Chapô</label>
    </div>
    <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Texte" id="content" name="content">{{post.getContent}}</textarea>
        <label for="content">Texte</label>
    </div>
    <div class="col-2 margin-auto">
        <button class="btn btn-primary" type="submit">Valider</button>
    </div>
</form>


{% endblock %}